<div class="container-fluid  px-2 pt-5">
    <div class="col-lg-9 text-center text-lg-start text-md-start col-12 ">
        <i class="fa-solid fa-magnifying-glass "></i> <input class="ss col-lg-6 col-md-6 col-10 " type="text"
            placeholder="search here">
    </div>
</div>
<div class="container-fluid justify-content-center justify-content-md-start g-0 py-5 px-lg-4 px-4 row d-flex">
    <div class="col-lg-9 col-md-7 ">
        <div class="text-center text-lg-start text-md-start">
            <h4 class="sw ">Write Your Slogan</h4>
        </div>
        <div class=" row col-lg col-md pt-3 w-auto d-lg-flex text-md-start d-md-block lo">
            <div class="col-lg col-md-4 col-xl col-sm-12    mm">
                <a class="col-lg col-md" href="">All</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm mn">
                <a class="col-lg col-md mn" href="">Business</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm ">
                <a class="col-lg col-md" href="">Adverticement</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Descriptive</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Commanding</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Persuding</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Creative</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Emotive</a>
            </div>&nbsp;


        </div>
    </div>
    <div class="pt-4 col-lg-3 col-md-3">
        <h5 style="color: darkmagenta; text-align: center;">Remaining Time</h5>
        <div class="row d-lg-flex d-md-block">
            <p style="text-align: center;">{{demo}}</p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="h2 text-center text-lg-start">Business</div>
</div>
<div class="container-fluid px-lg-3 pt-4">
    <div class="row justify-content-center">
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/dVcPCf2b/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/rs9nthqk/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/P5Cytfvh/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/SKJxT5Pg/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/dVcPCf2b/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/rs9nthqk/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/P5Cytfvh/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-3 col-md-3">
            <img src="https://i.postimg.cc/SKJxT5Pg/image.png" class="card-img-top" alt="...">

        </div>

    </div>
</div>