<div class="login-box ">
    <div>
        <img class="cc" src="https://i.postimg.cc/jq8D9ypW/image.png" alt="">
    </div><br>
    <h2 style="text-align: center; color: darkmagenta; font-weight: bold;">Login</h2>
    <form class="container" action="">
        <div class="sw">
            <input class="form-control" type="text"  placeholder="name">
        </div>
        <div class="sw">
            <input class="form-control" type="text" name="" placeholder="email">
        </div>
        <div class="sq">
            <button class="btn" style="background-color: darkmagenta; color: white; border: none; width: 30%;">login</button>
        </div>
        <div class="p-4" style="text-align: center;" >
        <a class="de" style=" color: darkmagenta;" href="">Forgot password</a> |
        <a class="de" style=" color: darkmagenta;" href="">New user</a>
        </div>
    </form>
</div><br><br>