.ss{
    border-top: none;
    border-left: none;
    border-right: none;
    /* width: 50%; */
    border-bottom: 1px solid black;
    text-decoration: none;
    text-decoration-line: none;
}
.sw{
    color: darkmagenta;
}
/* .btn{
    width:auto;
} */
.mm{
    background-color: aliceblue;
    /* padding-left: 2px; */
    color: black;
    border-radius: 5px;
    display:inline-flex;
    /* width:0rem; */
    /* width: 1px; */
}
a{
    color: black;
    text-decoration: none;
    font-size: smaller;
    text-align: center;

}
.bv{
    text-align: end;
    font-size: smaller;
    justify-content: end;
}

/* @media (min-width: 768px){
    .col-md {
        flex: 1 0 22%;
    }
} */

li
{
  display:inline-block;
}
.mn{
    background-color: darkmagenta;
    color: white;
}

 .chip {
        display: inline-block;
        padding: 0 25px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        border-radius: 25px;
        /* background-color: #f1f1f1; */
 }
      
 .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 30px;
        width: 30px;
        /* border-radius: 50%; */
        
      }
.we{
    text-align: end;
}   
.card{
    background-color: white;
    padding: 10px;
    /* border: none; */
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
    margin-top: 20px;
    /* margin-left: 10px; */
    align-items: center;
    /* margin: auto;
    float: none; */
    margin-bottom: 10px;
    border-right: 10px;
}   
