<div class="container-fluid px-md-5 px-lg-2 pt-5">
    <div class="col-lg-9 col-12 "> &nbsp; &nbsp; &nbsp;
        <i class="fa-solid fa-magnifying-glass "></i> <input class="ss col-lg-6 col-md-6 col-10 " type="text"
            placeholder="search here">
    </div>
</div>
<div class="container-fluid justify-content-center p-5 row d-flex">
    <div class="col-lg-9 col-md-7 ">
        <div class="text-center text-lg-start text-md-start">
            <h4 class="sw ">Write Your Slogan</h4>
        </div>
        <div class="row col-lg col-md pt-3 w-auto d-lg-flex d-md-block lo">
            <div class="col-lg col-md-4 col-xl col-sm-12    mm">
                <a class="col-lg col-md" href="">All</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm mn">
                <a class="col-lg col-md mn" href="">Business</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm ">
                <a class="col-lg col-md" href="">Adverticement</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Descriptive</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Commanding</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Persuding</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Creative</a>
            </div>&nbsp;
            <div class="col-lg col-md-4 col-xl col-sm-12  mm">
                <a class="col-lg col-md" href="">Emotive</a>
            </div>&nbsp;


        </div>
    </div>
    <div class="pt-4 col-lg-3 col-md-3">
        <h5 style="color: darkmagenta; text-align: center;">Remaining Time</h5>
        <div class="row d-lg-flex d-md-block">
            <p style="text-align: center;">{{demo}}</p>
        </div>
    </div>

</div>
<div class="container">
    <div class="h2 text-center text-lg-start">Business</div>

</div>
<div class="container">
    <div style="align-items: center;" class="row justify-content-center ">
        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i class="pe-2 d-end fa-regular fa-heart text-end we"></i><i style="text-align: end;"
                    class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>


        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>


        <div class=" card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>


        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>


        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>


        <div class="card col-lg-3 col-md-4" style="width: 17rem;">
            <img src="https://i.postimg.cc/fRBbvXwj/image.png" class="card-img-top " alt="...">
            <div class="card-body">
                <div style="padding-right: 60px;" class="chip">
                    <img class="rounded-image" src="https://i.postimg.cc/c1kN1Ssh/image.png" alt="" width="96"
                        height="96">
                    John Doe
                </div><i style="text-align: right;" class="pe-3 d-end fa-regular fa-heart text-end we"></i><i
                    style="text-align: end;" class="fa-sharp fa-solid fa-share-nodes"></i>
                <div>
                    <p class="pt-4 text-center">Shine your life like a gold</p>
                </div>
            </div>
        </div>





    </div>


</div>
<div class="container text-center text-lg-start text-md-center pt-3">
    <h3 style="color: gray; font-weight: bold;">Enter Your slogan</h3>

</div>
<div class="container  text-center text-lg-start text-md-center">
    <textarea class="container  w-50" placeholder="Write something" name="" id=""  rows="5"></textarea><br>
    <div>
        <button style="color:white; background-color: darkmagenta;" class="btn justify-content-end">submit</button>
    </div>
</div>








  