<div class="container">
    <h2 style="color: darkmagenta;">ContactUs</h2>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-lg-6">
            <p>
                202, Cst 598, Sangeet Plaza, Marol Maroshi Road, Andheri
                Mumbai - 400059</p>
            <p>sloganmakeinfo@gmail.com</p>
            <p> +91 02228561274</p>
            <p>Maharashtra, India</p>

        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 p-2">
                    <input class="form-control" type="text" placeholder="First name">
                </div>
                <div class="col-lg-6 col-md-6 p-2">
                    <input class="form-control" type="text" placeholder="Last name">
                </div>
                <div class="col-lg-6 col-md-6 p-2">
                    <input class="form-control" type="email" placeholder="email">
                </div>
                <div class="col-lg-6 col-md-6 p-2">
                    <input class="form-control" type="number" placeholder="Phone number">
                </div>

            </div>
            <div>
                <textarea  placeholder="How can we help?" class="form-control" name="" id="" cols="30"
                    rows="5"></textarea>
            </div>
            <div class="pt-3" style="text-align: center; ">
                <button style="background-color: darkmagenta; color: white;" class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>