.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  .sc{
      background-color: rgb(170, 6, 170);
      /* border-radius: 20px; */
      /* width: 30%; */
      border: none;
      color: white;
  }
  .ss{
      border: none;
      color: rgb(126, 4, 126);
      background-color: none;
  }
  
 


  