<div class="container pt-5">
    <h2 style="color: darkmagenta;">My account</h2>
</div>
<div class="container pt-2">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-6 pt-5">
            <div>
                <a style="color: darkmagenta;" href="profile">profile</a>
            </div>
            <hr style="width: 50%;">
            <div>
                <a style="color: black;" href="edit">edit profile</a>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-6  ">
            <div style="padding-left: 25%;" class="justify-content-center">
                <img style="height: 80px;width: 80px;" class="rounded-circle "
                    src="https://i.postimg.cc/yYgGHxjX/image.png" alt="">
            </div>
            <div class="row pt-4">
                <div class="col-lg-6 col-md-6 d-block"><label for="">First name</label>
                    <p>Beck</p>
                </div>
                <div class="col-lg-6 col-md-6 d-block"><label for="">Last name</label>
                    <p>Bowes</p>
                </div>
            </div>
            <div class="d-block pt-4">
                <label for="">Email</label>
                <p>Beckbowes@gmail.com</p>

            </div>
            <div class="d-block pt-4">
                <label for="">Contact number</label>
                <p>9045678923</p>

            </div>
            <div class="d-block pt-4">
                <label for="">password</label>
                <p>****************</p>

            </div>
            <div>
                <button style="background-color: darkmagenta; color: white; width: 100px;" class="btn">Save</button>
            </div>
        </div>
    </div>
</div>