<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6 col-md-6"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.postimg.cc/0NWZPWrk/image.png"
                alt="..." /></div>
        <div class="col-lg-6 col-md-6">
            <h2 style="font-weight: bolder;">Send us your brilliant slogans ... Win a handful of prizes </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.

                When an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        </div>
    </div>
</div>

<div class="container">
    <h2 style="text-align: center; color: gray; font-weight: bold;">How it Works</h2>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="card col-lg-4 col-md-4 col-sm-4 ">
            <img src="https://i.postimg.cc/L5wb2H43/Group-27.png" class="card-img-top" alt="...">
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-4 ">
            <img src="https://i.postimg.cc/2SM9Wj4p/Group-28.png" class="card-img-top" alt="...">
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-4 ">
            <img src="https://i.postimg.cc/L5837GzB/Group-29.png" class="card-img-top" alt="...">

        </div>


    </div>
</div><br><br>

<div class="container">
    
    <h2 class="w1" style="text-align: center; color: gray; font-weight: bold; ">checkOut brilliant slogan examples</h2>
</div>

<div class="container w-50 pt-5">
    <div class="row">
        <div class="card col-lg-4 col-6 pt-3">
            <img style="width: 100%;" src="https://i.postimg.cc/d1hTMvhB/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/YC20KkVW/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/j5fdQjWG/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/4xdgJ31p/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/ZnMLpj1b/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/9fLwDz3V/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/KcD49Jvj/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/KvQkYQdw/image.png" class="card-img-top" alt="...">

        </div>
        <div class="card col-lg-4 col-6 pt-3">
            <img  style="width: 100%;" src="https://i.postimg.cc/R0Wnyfp8/image.png" class="card-img-top" alt="...">

        </div>
    </div>

</div><br>
<div style="text-align: center;" class="container">
    <button class="btn" style="text-align: center; border: none; background-color: darkviolet;  color: white;" >write a slogan</button>
</div>







