<br><br>
<div class="text-center  p-5 w-lg-50 container loginbox col-lg-4">
    <div>
        <img class="cc" src="https://i.postimg.cc/jq8D9ypW/image.png" alt="">
    </div><br>
    <div class="container">
        <h2 class="p-3" style="text-align: center; color: darkmagenta;">Register</h2>
    </div>
    <div class="">
        <div class="row">
            <div class="col-lg-6 col-md-6  col-12 sv">
                <div class="cv">
                    <input class="ss form-control" type="text" placeholder="First name">
                </div>
                <div class="cv">
                    <input class="ss form-control" type="text" placeholder="Last name">
                </div>
                <div class="cv">
                    <input class="ss form-control" type="text" placeholder="Email">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 sx">
                <div class="cv">
                    <input type="text" class="form-control" placeholder="Phone number">
                </div>
                <div class="cv">
                    <input type="text" class="form-control" placeholder="password">
                </div>
                <div class="cv">
                    <input type="text" class="form-control" placeholder="confirm password">
                </div>
            </div>

        </div>
    </div>
    <div class="text-start col-lg-6 col-12"> &nbsp;
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>&nbsp;
        <label class="form-check-label" for="flexCheckChecked">
            I agree to all terms and policy
        </label>
    </div>
    <div class="pt-5" style="text-align: center;">
        <button style="background-color: darkmagenta; color: white;" class="btn">Create account</button>
    </div>
    <div class="pt-5" style="text-align: center;">
        <p>already have an account?<a style="color: darkmagenta; text-decoration: none;" href="login">Login</a></p>
    </div>

</div>